* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.fb {
    font-weight: bold;
}

header {
    height: 100vh;
    background-image: url(./img/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__white {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

.nav__menu {
    width: 60%;
    height: 70px;
    box-shadow: 0px 1px 0px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.nav__menu__options__option {
    padding: 10px;
}

.nav__menu__icons__icon {
    height: 20px;
    padding: 10px;
}

.nav__logo__imagen {
    height: 70px;
}

.portada {
    margin: 0px 0px 5px 50px;
}

.portada__button {
    background-color: blue;
    border: none;
    padding: 10px 70px 10px 70px;
    font-size: 10px;
}

main, .footer__menu, .footer__bmw {
    padding: 50px 200px 50px 200px;
    display: flex;
    flex-wrap: wrap;
}

main {
    flex-direction: column;
}

.series__menu {
    box-shadow: 0px 1px 0px rgb(189, 188, 188);
    padding-bottom: 10px;
}

.series__lista, .media {
    margin-top: 30px;
}

.series__lista li {
    display:inline;
    margin-right: 25px;
}

.series__lista__seleccion {
    font-size: 20px;
    box-shadow: 0px 3px 0px blue;
    padding-bottom: 10px;
}

.series__tarjetas, .opciones, .media, .contacta {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.series__tarjetas__precio, .series__tarjetas a, .opciones__tarjetas__texto, .opciones__tarjetas a, .media a, .contacta__tarjeta p, .footer__bmw {
    font-size: 10px;
}

.series__tarjetas div {
    width: 180px;
    padding-bottom: 40px;
}

.series__tarjetas__configurar, .footer__menu__listado, .footer__menu__listado ul {
    padding-top: 10px;
}

.infoBoton {
    border-radius: 50%;
    border-style: none;
    background-color: transparent;
}

.infoImg {
    height: 10px;
}

.opciones__tarjetas, .media__tarjeta {
    width: 180px;
}

.opciones__tarjetas, .media__tarjeta, .contacta__tarjeta {
    padding: 10px 10px 10px 10px;
    width: 180px;
    box-shadow: 0px 1px 1px rgb(189, 188, 188);
}

.opciones__tarjetas img, .media__tarjeta img, .contacta__tatjeta img {
    display: block;
    margin: auto;
}

.opciones__tarjetas__titulo {
    font-size: 30px;
}

.media__tarjeta {
    width: 45%;
}

.contacta__tarjeta {
    background-color: rgb(189, 188, 188);
    text-align: center;
}

.contacta__tarjeta img {
    width: 30px;
    height: 30px;
}

.footer__menu {
    background-color: rgb(189, 188, 188);
    flex-direction: column;
}

.footer__menu__listado {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.linea {
    box-shadow: 0px 1px 0px rgb(95, 94, 94);
}

.linea p {
    color: rgb(189, 188, 188);
}

.footer__bmw {
    flex-direction: row;
    justify-content: space-between;
}

.footer__bmw a {
    margin-right: 15px;
}
